<div class="date-range">
  <form [formGroup]="form" novalidate autocomplete="off">
    <div class="date-range__items">
      <app-date
        formControlName="from"
        [placeholder]="placeholder?.from || 'From'"
        (dateChange)="onChanged()"
        (closed)="onClosed()"
        [max]="max"
      ></app-date>
      <span class="date-range__dash">&mdash;</span>
      <app-date
        (closed)="onClosed()"
        formControlName="to"
        [placeholder]="placeholder?.from || 'To'"
        [min]="min"
      ></app-date>
    </div>
  </form>
</div>
