/* You can add global styles to this file, and also import other style files */
/*
Block: an independent component that can be reused (e.g. with class name .nav)
Element: a child within a block that cannot be used separately from that block (e.g. with class name .nav__item)
Modifier: a variation in the style of either a block or modifier (e.g. with class name .nav--dark)

*/
@import "styles/main.scss";
